body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.calculator {
    background: #2d89ef;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    background: #dfe6e9;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    background: #0984e3;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: #74b9ff;
}

.equal {
    background: #00b894;
}

.equal:hover {
    background: #55efc4;
}

.zero {
    grid-column: span 2;
}