body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

/* Header */
header {
    background: #6c63ff;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Sections */
section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

/* About */
#about {
    display: flex;
    align-items: center;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Skills */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    background: #6c63ff;
    color: white;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

/* Projects */
.project {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Button */
a {
    background: #6c63ff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}